header
	.header__site
		.header__site--logo
			a(href="/en/index.html")
				img.logo(src="/images/caffe-napoli-logo.svg", alt="Caffè Napoli Exytus")
		.mobile__menu
			span.line
			span.line
			span.line
		.header__site--navigation
			nav
				ul
					li
						a(href="la-storia-di-caffe-napoli.html") about us
					li
						a(href="il-caffe-made-in-naples-cremoso.html") The caffè
					li
						a(href="il-nostro-menu.html") The Menu
					li
						a(href="entra-nel-franchising-di-caffe-napoli.html") Franchise
					li
						a(href="dicono-di-noi.html") Press
					li
						a(href="i-punti-vendita.html") Where
			.header__site--social
				a(href="https://www.facebook.com/CaffeNapoliExytus", target="_blank")
					i.fa.fa-facebook-official
				a(href="https://www.instagram.com/caffenapoli_official/", target="_blank")
					i.fa.fa-instagram
			.header__site--language
				a(href="#", data-lang="it") IT

// Navigation menu mobile
.entry__menu
	nav
		ul
			li
				a(href="la-storia-di-caffe-napoli.html") about us
			li
				a(href="il-caffe-made-in-naples-cremoso.html") The caffè
			li
				a(href="il-nostro-menu.html") The Menu
			li
				a(href="entra-nel-franchising-di-caffe-napoli.html") Franchise
			li
				a(href="dicono-di-noi.html") Press
			li
				a(href="i-punti-vendita.html") Where
	.entry__menu--language
		a(href="#", data-lang="it") IT
	.entry__menu--social
		a(href="https://www.facebook.com/CaffeNapoliExytus", target="_blank")
			i.fa.fa-facebook-official
		a(href="https://www.instagram.com/caffenapoli_official/", target="_blank")
			i.fa.fa-instagram