.grid-container
	.grid-x
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Plain Croissant
							h6 € 1.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettocrema.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Croissant with custard
								span Cornetto al burro farcito alla crema.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Croissant with Nutella
								span Cornetto al burro farcito con nutella.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettofruttidibosco.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Croissant with apricot jam
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_fagottinocioccolato.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Chocolate Danish
								//- span Fagottino ripieno di crema gianduia ricoperto con gocce di cioccolato fondente.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_fagottinocioccolato_veg.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Apple Danish
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Croissant with pistachio
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettomiele.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Whole wheat croissant with honey
								//- span Cornetto integrale al burro farcito di purea di mele e miele con copertura di zucchero di canna.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_canadeseaceronoci.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Sultana braided pastry
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettovuoto_veg.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4
								i.fa.fa-leaf
								|Plain vegan croissant
								//- span Prodotto ottenuto con materie prima di ottima qualità idonee ad una alimentazione vegana. NO MIELE - NO UOVA - NO LATTE - SENZA OLIO DI PALMA - SENZA GRASSI IDROGENATI
							h6 € 1.10
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettocanapamelograno_veg.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4
								i.fa.fa-leaf
								|Vegan croissant with marmalade
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_krapfencrema.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Custard-filled doughnut
								//- span Krapfen al burro farcito con crema. SENZA OLIO DI PALMA
							h6 € 1.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_krapfennutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Chocolate-filled doughnut
								//- span Krapfen al burro farcito alla nutella. SENZA OLIO DI PALMA
							h6 € 1.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_krapfencrema.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Zeppola
								span Deep-fried doughnut filled with custard, topped with a cherry
							h6 
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_pastiera.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Slice of Pastiera cake
								//- span Il dolce della tradizione con grano cotto, ricotta fresca, frutta candita e bucce degli agrumi.
							h6 € 4.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_peccatodigola.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Slice of Caprese cake
							h6 € 4.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_ricottapera.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Slice of Ricotta and Pear tart
								//- span Biscotto alle nocciole farcito con crema di ricotta mantecata con cubetti di pere.
							h6 € 4.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Mini croissants - custard, plain, chocolate
							h6 € 0.80