.grid-container
	.grid-x
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_espresso.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Espresso
							h6 € 1.20
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_marechiaro.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Marechiaro
								span Coffee, nutella, coconut, chopped coconut, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_nutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Nutella
								span Coffee, nutella, chopped hazelnut, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_posillipo.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Posillipo
								span Coffee, milk cream, hazelnut, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_spaccanapoli.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Spaccanapoli
								span Coffee, gianduia, vanilla, cinnamon, brownies
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_chiaia.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Chiaia
								span Coffee, gianduia, brownies, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_marocchino.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Marocchino
								span Coffee, chocolate, milk, cocoa
							h6 € 1.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_nocciola.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Nocciola
								span Coffee, hazelnut, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cremadilatte.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Crema di Latte
								span Coffee, milk cream, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_panna.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Panna
								span Coffee, whipped cream, cocoa/cinnamon
							h6 € 2.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_pistacchio.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Pistacchio
								span Coffee, chopped hazelnut, pistachio, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cappuccino_nero.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cappuccino Nero
								span Coffee, gianduia, milk, cocoa, brownies
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_brasiliano.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Brasiliano
								span Coffee, milk cream, kalua, cocoa
							h6 € 3.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_mergellina.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Caffè Mergellina
								span Coffee, nutella, milk cream, chopped hazelnut, cocoa
							h6 € 3.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cioccolata.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cioccolata calda
								span Italian hot chocolate
							h6 € 3.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item(data-aos="fade-up")
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cioccolata_panna.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cioccolata calda con panna
								span Italian hot chocolate with whipped cream
							h6 € 4.00