// Section Menu
section.section__menu
	.grid-x
		.large-6.medium-6.small-12.column
			.swiper-container.hot-menu__slider
				h3 I Caldi
				.swiper-wrapper
					.swiper-slide
						h2 Caffè Posillipo
						img(src="/images/menu/caldi-01-caffe-posillipo.png", alt="")
					.swiper-slide
						h2 Caffè Mergellina
						img(src="/images/menu/caldi-02-caffe-mergellina.png", alt="")
					.swiper-slide
						h2 Caffè Panna
						img(src="/images/menu/caldi-03-caffe-panna.png", alt="")
					.swiper-slide
						h2 Caffè Marocchino
						img(src="/images/menu/caldi-04-caffe-marocchino.png", alt="")
		.large-6.medium-6.small-12.column
			.swiper-container.cold-menu__slider
				h3 I Freddi
				.swiper-wrapper
					.swiper-slide
						h2 Cremino
						img(src="/images/menu/freddi-01-cremino.png", alt="")
					.swiper-slide
						h2 Cremino Panna
						img(src="/images/menu/freddi-02-cremino-panna.png", alt="")
					.swiper-slide
						h2 Cremino Nutella
						img(src="/images/menu/freddi-03-cremino-nutella.png", alt="")
					.swiper-slide
						h2 Granita Caffè
						img(src="/images/menu/freddi-04-granita-caffe.png", alt="")
	a.go__to-page.is--big(href="")
		| Scopri tutte le nostre prelibatezze
		i.fa.fa-angle-right