// Section Stores
section.section__stores
	.swiper-container.stores__slider
		.swiper-wrapper
			.swiper-slide.slide--01
				.stores__info
					h3 
						|Giardino
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Via Gaetano Giardino, 1
							br
							| 20123 - Milano
						p
							i.fa.fa-phone
							| +39 02 89 09 2650
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab: 08.00 - 19.00
							br
							| Dom: chiuso
			.swiper-slide.slide--02
			.swiper-slide.slide--03
			.swiper-slide.slide--04
			.swiper-slide.slide--05
			.swiper-slide.slide--06
			.swiper-slide.slide--07
			.swiper-slide.slide--08
			.swiper-slide.slide--09
			.swiper-slide.slide--10
		.swiper-button-prev
			i.fa.fa-angle-left
		.swiper-button-next
			i.fa.fa-angle-right