footer
	.grid-container
		.grid-x
			.large-3.medium-3.small-12.column
				img(src="/images/caffe-napoli-logo-footer.svg", alt="Caffè Napoli Exytus")
			.large-3.medium-3.small-12.column
				h6 Seguici sui social network
				a(href="https://www.facebook.com/CaffeNapoliExytus", target="_blank")
					i.fa.fa-facebook-official 
					span CaffeNapoliExytus
				a(href="https://www.instagram.com/caffenapoli_official/", target="_blank")
					i.fa.fa-instagram
					span caffenapoli_official
			.large-3.medium-3.small-12.column
				h6 Carriera
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem repellendus dicta praesentium itaque consequuntur beatae odio quas.
			.large-3.medium-3.small-12.column
				h6 Contatti
				p
					i.fa.fa-map-marker
					span
						| Corso Buenos Aires, 64
						br
						|20124 – Milano (MI)
				p
					i.fa.fa-phone
					span +39 02 36 505 234
				p
					i.fa.fa-envelope-o
					span
						a(href="mailto:info@caffenapoli.com") info[@]caffenapoli.com

// Copyright section
.section__copyright
	.grid-container
		.grid-x
			.large-6.medium-6.small-12.column
				p
					| © 2018 - All rights reserved - Exytus S.r.l. - P.IVA 08869790967 - 
					a(href="") Privacy Policy
					|  - 
					a(href="") Cookie
			.large-6.medium-6.small-12.column
				p
					| Designed by 
					a(href="https://officine06.com", rel="nofollow", target="_blank") Officine06