header
	.header__site
		.header__site--logo
			a(href="/index.html")
				img.logo(src="/images/caffe-napoli-logo.svg", alt="Caffè Napoli Exytus")
		.mobile__menu
			span.line
			span.line
			span.line
		.header__site--navigation
			nav
				ul
					li
						a(href="la-storia-di-caffe-napoli.html") Chi siamo
					li
						a(href="il-caffe-made-in-naples-cremoso.html") Il Caffè
					li
						a(href="il-nostro-menu.html") Il Menu
					li
						a(href="entra-nel-franchising-di-caffe-napoli.html") Franchising
					li
						a(href="") Press
					li
						a(href="i-punti-vendita.html") Dove siamo
			.header__site--social
				a(href="https://www.facebook.com/CaffeNapoliExytus", target="_blank")
					i.fa.fa-facebook-official
				a(href="https://www.instagram.com/caffenapoli_official/", target="_blank")
					i.fa.fa-instagram
			.header__site--language
				a(href="#", data-lang="en") EN

// Navigation menu mobile
.entry__menu
	nav
		ul
			li
				a(href="la-storia-di-caffe-napoli.html") Chi siamo
			li
				a(href="il-caffe-made-in-naples-cremoso.html") Il caffè
			li
				a(href="il-nostro-menu.html") Il Menu
			li
				a(href="entra-nel-franchising-di-caffe-napoli.html") Franchising
			li
				a(href="") Press
			li
				a(href="i-punti-vendita.html") Dove siamo
	.entry__menu--language
		a(href="#", data-lang="en") EN
	.entry__menu--social
		a(href="https://www.facebook.com/CaffeNapoliExytus", target="_blank")
			i.fa.fa-facebook-official
		a(href="https://www.instagram.com/caffenapoli_official/", target="_blank")
			i.fa.fa-instagram