// Section Stores
section.section__stores
	.swiper-container.stores__slider
		.swiper-wrapper
			.swiper-slide.slide--porta-vittoria
				.stores__info
					h3 
						|Porta Vittoria
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Corso di Porta Vittoria, 40/C
							br
							| 20122 - Milano
						p
							i.fa.fa-phone
							| +39 02 36 57 9587
						p
							i.fa.fa-clock-o
							| Lun - Dom: 07.00 - 20.00
			.swiper-slide.slide--coni-zugna
				.stores__info
					h3 
						|Coni Zugna
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Viale Coni Zugna, 63
							br
							| 20144 - Milano
						p
							i.fa.fa-phone
							| +39 49 67 7607
						p
							i.fa.fa-clock-o
							| Lun - Dom: 07.00 - 20.00
			.swiper-slide.slide--pisani
				.stores__info
					h3 
						|Pisani
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Via Vittor Pisani, 6
							br
							| 20124 - Milano
						p
							i.fa.fa-phone
							| +39 02 66 95 286
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab: 08.00 - 17.00
							br
							| Dom: chiuso
			.swiper-slide.slide--turati
				.stores__info
					h3 
						|Turati
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Via Turati, 40
							br
							| 20121 - Milano
						p
							i.fa.fa-phone
							| +39 02 62 08 6855
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab - Dom: 08.00 - 19.00
			.swiper-slide.slide--giardino
				.stores__info
					h3 
						|Giardino
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Via Gaetano Giardino, 1
							br
							| 20123 - Milano
						p
							i.fa.fa-phone
							| +39 02 89 09 2650
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab: 08.00 - 19.00
							br
							| Dom: chiuso
			.swiper-slide.slide--brera
				.stores__info
					h3 
						|Brera
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Largo La Foppa, 1
							br
							| 20121 - Milano
						p
							i.fa.fa-phone
							| +39 02 65 95 089
						p
							i.fa.fa-clock-o
							| Lun: 07.00 - 22.00
							br
							| Mar - Gio: 07.00 - 24.00
							br
							| Ven: 07.00 - 02.00
							br
							| Sab: 07.00 - 02.00
							br
							| Dom: 08.00 - 22.00
			.swiper-slide.slide--buonaparte
				.stores__info
					h3 
						|Buonaparte
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Foro Buonaparte, 53
							br
							| 20121 - Milano
						p
							i.fa.fa-phone
							| +39 02 89 09 4922
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 18.00
							br
							| Sab: 08.00 - 17.00
							br
							| Dom: chiuso
			.swiper-slide.slide--montenero
				.stores__info
					h3 
						|Montenero
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Viale Montenero, 71
							br
							| 20135 - Milano
						p
							i.fa.fa-phone
							| +39 02 55 14 486
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 18.00
							br
							| Sab - Dom: 08.00 - 18.00
			.swiper-slide.slide--magenta
				.stores__info
					h3 
						|Magenta
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Corso Magenta, 29
							br
							| 20123 - Milano
						p
							i.fa.fa-phone
							| +39 02 89 09 5041
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 18.00
							br
							| Sab: 08.00 - 18.00
							br
							| Dom: chiuso
			.swiper-slide.slide--largo-augusto
				.stores__info
					h3 
						|Largo Augusto
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Largo Augusto, 8
							br
							| 20121 - Milano
						p
							i.fa.fa-phone
							| +39 02 79 80 07
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab: 08.00 - 19.00
							br
							| Dom: 08.00 - 17.00
			.swiper-slide.slide--marghera
				.stores__info
					h3 
						|Marghera
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Via Marghera, 39
							br
							| 20149 - Milano
						p
							i.fa.fa-phone
							| +39 02 46 91 695
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab - Dom: 08.00 - 19.00
			.swiper-slide.slide--ticinese
				.stores__info
					h3 
						|Ticinese
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Corso di Porta Ticinese, 14
							br
							| 20123 - Milano
						p
							i.fa.fa-phone
							| +39 02 58 10 5596
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 19.00
							br
							| Sab - Dom: 08.00 - 19.00
			.swiper-slide.slide--porta-nuova
				.stores__info
					h3 
						|Porta Nuova
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Piazza Alvar Aalto
							br
							| 20123 - Milano
						p
							i.fa.fa-phone
							| +39 02 29 00 6384
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 20.00
							br
							| Sab - Dom: 08.00 - 20.00
			.swiper-slide.slide--santa-croce
				.stores__info
					h3 
						|Santa Croce
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| Via Santa Croce, 4
							br
							| 20122 - Milano
						p
							i.fa.fa-phone
							| +39 02 36 58 9083
						p
							i.fa.fa-clock-o
							| Lun - Dom: 07.00 - 20.00
			.swiper-slide.slide--londra
				.stores__info
					h3 
						|Londra
						.open__content
					.stores__info--content
						p
							i.fa.fa-map-marker
							| 31B Goodge St, Fitzrovia
							br
							| London W1T 2PP
						p
							i.fa.fa-phone
							| 020 73 23 9167
						p
							i.fa.fa-clock-o
							| Lun - Ven: 07.00 - 17.00
							br
							| Sab - Dom: chiuso
		.swiper-button-prev
			i.fa.fa-angle-left
		.swiper-button-next
			i.fa.fa-angle-right