extend layouts/master

block title
	| Join the Caffè Napoli franchise! What are you waiting for? - Caffè Napoli Exytus

block append metatags 
	meta(name='description', content="Che aspetti ad entrare nel franchising di Caffè Napoli? Potrebbe mancare davvero poco al tuo “coming soon”. Se sogni di entrare nel franchising di Caffè Napoli e aprire il tuo punto vendita, compila il form e il nostro staff ti risponderà entro 24 ore.")
	meta(name='keywords', content="Caffè Napoli franchise")
	meta(property="og:url"           content="http://caffenapoli.com/en/entra-nel-franchising-di-caffe-napoli.html")
	meta(property="og:type"          content="website")
	meta(property="og:title"         content="Join the Caffè Napoli franchise! What are you waiting for? - Caffè Napoli Exytus")
	meta(property="og:description"   content="Che aspetti ad entrare nel franchising di Caffè Napoli? Potrebbe mancare davvero poco al tuo “coming soon”. Se sogni di entrare nel franchising di Caffè Napoli e aprire il tuo punto vendita, compila il form e il nostro staff ti risponderà entro 24 ore.")
	meta(property="og:image"         content="http://caffenapoli.com/images/caffe-napoli-exytus-entra-nel-franchising.jpg")

block content
	// Section Hero Image
	section.section__hero-image.section__hero-image--franchising
	// Section Hero Page
	section.section__hero-page
		.grid-container
			.grid-x
				.large-12.medium-12.small-12.column
					p Join the Caffè Napoli franchise! What are you waiting for?
	// Section Content
	section.section__content
		.grid-container
			.grid-x
				.large-12.medium-12.small-12.column
					.section__content--text
						p.highlight
							|We’re interested in receiving applications to develop our franchise into an international network of Caffè Napoli coffee houses.
						.separator__paragraph
							h6 The ideal partner Caffè Napoli is looking for:
							.line
						ul
							li Entrepreneurial spirit, passion for coffee and identification with Caffè Napoli brand
							li A sound experience in the retail industry, Food and Beverage preferred
							li Financial capability to build the Caffè Napoli brand over the long term and to fund a multi-unit growth, with an important start-up investment to develop our brand in your country (minimum liquid assets of Euro 300.000, depending on the country)
							li Knowledge of real estate and easy access to key locations
						p.highlight Click here as we are interested to receive your inquiries: 
							a(href="mailto:international.franchising@caffenapoli.com") international.franchising[@]caffenapoli.com