.grid-container
	.grid-x
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_cassata.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 Cassata siciliana
		//- 						span Pasta di mandorle e pistacchi, pan di spagna farcito con crema di ricotta.
		//- 					h6 € 4.00
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_cornettosemichia_veg.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 
		//- 						i.fa.fa-leaf
		//- 						|Cornetto con semi di chia
		//- 						span Cornetto fonte di fibra e fonte di omega 3 con copertura di semi di chia. NO MIELE - NO UOVA - NO LATTE - SENZA OLIO DI PALMA - SENZA GRASSI IDROGENATI
		//- 					h6 € 1.50
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_cornettocanapamelograno_veg.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4
		//- 						i.fa.fa-leaf
		//- 						|Cornetto canapa e melograno
		//- 						span Cornetto fonte di fibra e fonte di omega 3 con copertura di semi di lino dorato. NO MIELE - NO UOVA - NO LATTE - SENZA OLIO DI PALMA - SENZA GRASSI IDROGENATI
		//- 					h6 € 1.50
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_fagottinocioccolato_veg.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 
		//- 						i.fa.fa-leaf
		//- 						|Fagottino cioccolato
		//- 						span Fagotto ripieno di gocce di cioccolato fondente. NO MIELE - NO UOVA - NO LATTE - SENZA OLIO DI PALMA - SENZA GRASSI IDROGENATI
		//- 					h6 € 1.30
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_ciambellina.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 Ciambellina
		//- 						span Ciambellina al burro.
		//- 					h6 € 1.50
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_krapfenalbicocca.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 Krapfen all’albicocca
		//- 						span Krapfen al burro farcito all'albicocca. SENZA OLIO DI PALMA
		//- 					h6 € 1.50
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_canadeseaceronoci.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 Canadese acero e noci pecan
		//- 						span Pasta lievitata a forma di treccia, con ripieno di confettura allo sciroppo di acero e decorata con granella di noci pecan e noci.
		//- 					h6 € 1.00
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_rotolinonocciola.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 Rotolino nocciola
		//- 						span Rotolino farcito con crema alla nocciola e lucidato con zucchero semolato.
		//- 					h6 € 1.30
		//- .large-6.medium-6.small-12.column
		//- 	// Singolo Prodotto
		//- 	.single__item
		//- 		.grid-x
		//- 			.large-3.medium-3.small-12.column
		//- 				.single__item--image
		//- 					img(src="/images/menu/caffenapoli_conchigliagianduia.jpg", alt="")
		//- 			.large-9.medium-3.small-12.column
		//- 				.single__item--text
		//- 					h4 Conchiglia gianduia
		//- 						span Conchiglia con ripieno di crema gianduia, lucidata con zucchero semolato.
		//- 					h6 € 1.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto vuoto
							h6 € 1.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettocrema.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto crema
								span Cornetto al burro farcito alla crema.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto nutella
								span Cornetto al burro farcito con nutella.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettofruttidibosco.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto marmellata di albicocca
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_fagottinocioccolato.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Fagottino cioccolato
								span Fagottino ripieno di crema gianduia ricoperto con gocce di cioccolato fondente.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_fagottinocioccolato_veg.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Fagottino mele
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto pistacchio
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettomiele.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto integrale al miele
								span Cornetto integrale al burro farcito di purea di mele e miele con copertura di zucchero di canna.
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_canadeseaceronoci.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Treccia uvetta
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettovuoto_veg.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4
								i.fa.fa-leaf
								|Cornetto vuoto
								span Prodotto ottenuto con materie prima di ottima qualità idonee ad una alimentazione vegana. NO MIELE - NO UOVA - NO LATTE - SENZA OLIO DI PALMA - SENZA GRASSI IDROGENATI
							h6 € 1.10
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettocanapamelograno_veg.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4
								i.fa.fa-leaf
								|Cornetto marmellata di arancia
							h6 € 1.30
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_krapfencrema.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Krapfen crema
								span Krapfen al burro farcito con crema. SENZA OLIO DI PALMA
							h6 € 1.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_krapfennutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Krapfen nutella
								span Krapfen al burro farcito alla nutella. SENZA OLIO DI PALMA
							h6 € 1.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_krapfencrema.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Zeppola
							h6 
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_pastiera.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Fetta di Torta Pastiera
								span Il dolce della tradizione con grano cotto, ricotta fresca, frutta candita e bucce degli agrumi.
							h6 € 4.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_peccatodigola.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Fetta di Torta Caprese
							h6 € 4.00
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_ricottapera.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Fetta di Torta Ricotta e pera
								span Biscotto alle nocciole farcito con crema di ricotta mantecata con cubetti di pere.
							h6 € 4.50
		.large-6.medium-6.small-12.column
			// Singolo Prodotto
			.single__item
				.grid-x
					.large-3.medium-3.small-12.column
						.single__item--image
							img(src="/images/menu/caffenapoli_cornettonutella.jpg", alt="")
					.large-9.medium-3.small-12.column
						.single__item--text
							h4 Cornetto mignon (Vuoto, Crema o Cioccolato)
							h6 € 0.80