// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="https://placehold.it/300x300", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Espresso
					span Descrizione
				h6 € 1.20
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="https://placehold.it/300x300", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Espresso
				h6 € 1.20