// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_cremino.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Cremino
				h6 Piccolo € 2.50 / Grande € 3.50
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_cremino_nocciola.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Cremino Nocciola
					span Cremino, nocciola, cacao
				h6 € 3.50
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_cremino_bianco.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Cremino Bianco
					span Cremino, crema di latte, cacao
				h6 € 3.50
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_cremino_nutella.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Cremino Nutella
					span Cremino, nutella, granella di nocciola, cacao
				h6 € 3.50
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_cremino_panna.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Cremino Panna
					span Cremino, panna, cacao/cannella
				h6 € 3.50
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_granita_caffe.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Granita caffè
					span Ghiaccio, caffè, cacao
				h6 Piccola € 3.00 / Grande € 4.00
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_caffe_shakerato.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Caffè shakerato
					span Caffè, ghiaccio, cacao
				h6 € 3.50
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_portalba.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Port’alba
					span Cremino, gianduia, brownies, cacao
				h6 € 4.00
// Singolo Prodotto
.single__item
	.grid-x
		.large-3.medium-3.small-12.column
			.single__item--image
				img(src="/images/menu/caffenapoli_vesuvio.jpg", alt="")
		.large-9.medium-3.small-12.column
			.single__item--text
				h4 Vesuvio
					span Cremino, nutella, crema di latte, granella di nocciola, cacao
				h6 € 4.00
