extend layouts/master

block title
	| Cremoso la miscela esclusiva di Caffè Napoli - Caffè Napoli Exytus

block append metatags 
	meta(name='description', content="Si chiama Cremoso, la miscela esclusiva di Caffè Napoli. Cremoso è una miscela di caffè altamente selezionati, composta per l’80% da caffè arabici e per il 20% da caffè robusti.")
	meta(name='keywords', content="Cremoso")
	meta(property="og:url"           content="http://caffenapoli.com/il-caffe-made-in-naples-cremoso.html")
	meta(property="og:type"          content="website")
	meta(property="og:title"         content="Cremoso la miscela esclusiva di Caffè Napoli - Caffè Napoli Exytus")
	meta(property="og:description"   content="Si chiama Cremoso, la miscela esclusiva di Caffè Napoli. Cremoso è una miscela di caffè altamente selezionati, composta per l’80% da caffè arabici e per il 20% da caffè robusti.")
	meta(property="og:image"         content="http://caffenapoli.com/images/caffe-napoli-exytus-cremoso-la-miscela-esclusiva-di-caffe-napoli.jpg")

block content
	// Section Hero Image
	section.section__hero-image.section__hero-image--cremoso
	// Section Hero Page
	section.section__hero-page
		.grid-container
			.grid-x
				.large-12.medium-12.small-12.column
					p Il Caffè made in Naples: Cremoso
	// Section Content -- Light
	section.section__content
		.grid-container
			.grid-x
				.large-6.medium-6.small-12.column
					.section__content--image
						img.is--full(src="/images/caffe-napoli-exytus-cremoso.jpg", alt="")
				.large-6.medium-6.small-12.column
					.section__content--text
						p.highlight
							| Si chiama Cremoso, la miscela esclusiva di Caffè Napoli.
							br
							|Cremoso è una miscela di caffè altamente selezionati, composta per l’80% da caffè arabici e per il 20% da caffè robusti.
						p
							|I caffè Arabica coltivati per lo più in Brasile, centro America e Africa donano a Cremoso un sapore dolce, un intenso aroma ed un irresistibile profumo. I caffè Robusta coltivati in Africa e Asia regalano al Cremoso l’ineguagliabile colore scuro e la densa schiumosità.
						p
							|A caratterizzare la particolare miscela interviene il processo di selezione e cottura dei caffè che conferiscono a Cremoso l’unicità del suo gusto: Dolce Cioccolattoso Pastoso Rotondo e Persistente. Cremoso racconta i valori della tradizione partenopea attraverso un percorso di aromi, colori e sapori che parlano di una lunga storia di passione e gesti quotidiani. L’espresso migliore, dall’aroma intenso che rende il caffè un rito di culto e trasmette qualità, passione, esperienza e affidabilità.
	// Section Content -- Dark	
	section.section__content.is--dark
		.grid-container
			.grid-x
				.large-6.medium-6.small-12.column.show__mobile
					.section__content--image.origini
				.large-6.medium-6.small-12.column
					.section__content--text
						h2 Origini, ricerca e sviluppo
						p
							| Per diffondere la cultura della tradizione del vero espresso italiano Caffè Napoli si avvale di un team di esperti votati alla qualità e al servizio che ogni giorno si impegnano nella ricerca e sviluppo della divisione prodotto dell’azienda.
							br
							br
							| Il procedimento per concepire e realizzare una miscela di caffè di grande qualità, parte dalla selezione delle migliori origini e si conclude con la preparazione in Caffè Napoli.
							br
							br
							| La scelta dei chicchi eccellenti è certificata dall’assaggio del caffè crudo sul luogo di nascita delle più eccellenti piantagioni sempreverdi.
				.large-6.medium-6.small-12.column.hide__mobile
					.section__content--image.origini
	// Section Content -- Light
	section.section__content
		.grid-container
			.grid-x
				.large-6.medium-6.small-12.column
					.section__content--text
						h2 Miscela, tostatura e confezionamento
						p
							|I caffè selezionati passano quindi alla miscelazione: una segretissima tecnica che rende le miscele di Caffè Napoli delle ricette uniche ed inimitabili.
						p
							|Grazie ad una ricerca tecnologica incessante, alla creatività nella costante ricerca di processi, prodotti e collaborazioni innovative tutte le fasi dalla tostatura, alla macinatura e il confezionamento garantiscono che il Caffè di Caffè Napoli sia uno dei migliori in termini di qualità presente sul mercato.
				.large-6.medium-6.small-12.column
					.section__content--text
						h2 
							|Il tempio
							br
							|dell’espresso perfetto
						p
							|Dedizione, passione e amore completano il processo di produzione del miglior espresso italiano.
						p
							|In Caffè Napoli è l’uso della San Marco che permette un’estrazione al Top e che da un’importanza assoluta ai nostri ragazzi e alla tazza che servono perché ogni espresso è il risultato della lavorazione di un prodotto, il Caffè, che deve essere lavorato e vissuto.