extend layouts/master

block title
	| La storia di Caffè Napoli e il segreto del successo - Caffè Napoli Exytus

block append metatags 
	meta(name='description', content="Caffè Napoli nasce dalla volontà di tre imprenditori, Francesco Fiandra e i fratelli Mauro e Fabio Compagnoni, che decidono di investire in un’attività nel mondo del caffè, insieme a Giuseppe Grieco e Lino Terraciano, già titolari delle due caffetterie più famose a Pozzuoli.")
	meta(name='keywords', content="Caffè Napoli")
	meta(property="og:url"           content="http://caffenapoli.com/la-storia-di-caffe-napoli.html")
	meta(property="og:type"          content="website")
	meta(property="og:title"         content="La storia di Caffè Napoli e il segreto del successo - Caffè Napoli Exytus")
	meta(property="og:description"   content="Caffè Napoli nasce dalla volontà di tre imprenditori, Francesco Fiandra e i fratelli Mauro e Fabio Compagnoni, che decidono di investire in un’attività nel mondo del caffè, insieme a Giuseppe Grieco e Lino Terraciano, già titolari delle due caffetterie più famose a Pozzuoli.")
	meta(property="og:image"         content="http://caffenapoli.com/images/caffe-napoli-exytus-chi-siamo-la-storia-di-caffe-napoli.jpg")

block content
	// Section Hero Image
	section.section__hero-image.section__hero-image--about
	// Section Hero Page
	section.section__hero-page
		.grid-container
			.grid-x
				.large-12.medium-12.small-12.column
					p La storia di Caffè Napoli
	// Section Content
	section.section__content
		.grid-container
			.grid-x
				.large-12.medium-12.small-12.column
					.section__content--text
						p.highlight
							|Caffè Napoli nasce dalla volontà di tre imprenditori operanti nel digitale (Internet e Mobile), Francesco Fiandra e i fratelli Mauro e Fabio Compagnoni, che decidono di investire in un’attività nel mondo del caffè, insieme a Giuseppe Grieco e Lino Terraciano, già titolari delle due caffetterie più famose a Pozzuoli (vicino Napoli), per fondare una società, Exytus, che crea Caffè Napoli.
						.separator__paragraph
							h6 L'idea
							.line
						p
							|L’idea prende vita quando Milano si preparava per accogliere EXPO.
							br
							|Da amanti della buona tavola e della cucina italiana, i tre soci fondatori decidono di diversificare la loro Holding in un progetto che potesse avere come core il food e che fosse fondato sui principi di scalabilità e replicabilità.
						p
							|Guidati dall’obiettivo comune di voler investire in un prodotto riconosciuto in tutto il mondo come una eccellenza italiana, Francesco, Mauro e Fabio iniziano a confrontarsi su quelle che potessero essere iscritte all’interno delle eccellenze della tavola italiana. Il progetto Exytus doveva avere delle caratteristiche verticali, che potessero trasformare una delle referenze dell’eccellenza italiana nel core business dell’azienda.
						p
							|Da questa importante osservazione a Francesco venne in mente di proporre a Fabio e Mauro di provare l’Espresso del Bar Exytus: la caffetteria partenopea del cugino, riconosciuta in tutta Pozzuoli per la qualità del suo prodotto. Una realtà piccola e verticale, di soli 8mq, che produce al giorno migliaia di caffè Espresso rigorosamente serviti con la cremina.
						.separator__paragraph
							h6 Milano
							.line
						p
							|Dopo la prova, la decisione fu inevitabile: il progetto doveva essere replicato a Milano, metropoli per indole ricettiva e una delle città italiane con il più alto consumo medio giornaliero di caffè. Nessuna intuizione fu più corretta.
						p
							|Dal 2015 ad oggi Caffè Napoli ha invaso la città meneghina aprendo 14 punti vendita in zone strategiche della Città. Dal primo Caffè Napoli di Largo la Foppa, al più recente di Porta Vittoria, il vero espresso napoletano è ormai un must per i milanesi.
	section.section__multi-step
		.grid-x
			.large-3.medium-6.small-12.column
				.section__multi-step--image.bancone
			.large-3.medium-6.small-12.column
				.section__multi-step--text
					h2 Rivestimento in marmo, legno e metallo. Il bancone è il protagonista dell’esperienza in Caffè Napoli.
			.large-3.medium-6.small-12.column
				.section__multi-step--image.casapartenopea
			.large-3.medium-6.small-12.column
				.section__multi-step--text
					h2 Elementi tipici di una casa partenopea che rappresentano gli usi e i costumi della tradizione.
	// Section Title
	section.section__title
		img(src="/images/decoro.svg", alt="Benvenuti in Caffè Napoli - Lasciati rapire dal gusto dell’eccellenza e scopri il Caffè Napoli più vicino a te")
		h2 Lasciati rapire dal gusto dell’eccellenza
		a.go__to-page(href="")
			| Scopri il Caffè Napoli più vicino a te
			i.fa.fa-angle-right
	// Section Content
	section.section__content
		.grid-container
			.grid-x
				.large-12.medium-12.small-12.column
					.section__content--text
						.separator__paragraph
							h6 Chiudere gli occhi ed essere a Napoli
							.line
						p
							|Nacque così l’idea di Caffè Napoli: un format di caffetterie che rappresenta la vera essenza dell’esperienza di gustare l’Espresso napoletano, il migliore d’Italia. Un ambiente privo di distrazioni visive ed olfattive che concentra l’esperienza sensoriale del cliente attorno alla famosa tazzulella e che riproduce il concetto di convivialità familiare tipico del Sud Italia dove il caffè è consumato in ogni momento, in qualsiasi luogo e soprattutto in compagnia.
						p
							|Il segreto del successo sta proprio nel focalizzarsi sull’Espresso con la tipica cremina napoletana, proposto in un’atmosfera partenopea ricreata grazie all’uso delle maioliche, realizzate a Vietri con un disegno esclusivamente creato per Caffè Napoli; al blu “navy” del mare, che ricorre come colore prevalente e dal bancone a filo strada, in modo che i clienti possano ordinare e bere il caffè anche direttamente dal marciapiede.
	section.section__multi-step
		.grid-x
			.large-3.medium-6.small-12.column
				.section__multi-step--text
					h2 L’abitudine consolidata di chi andava al bar e disponeva di qualche soldo in più per un caffè, ne pagava due e alla cassa diceva: “Uno sospeso!”.
			.large-3.medium-6.small-12.column
				.section__multi-step--image.sospeso
			.large-3.medium-6.small-12.column
				.section__multi-step--text
					h2 Interpretazione esclusiva del pavimento di una vera casa napoletana: la maiolica di Vietri.
			.large-3.medium-6.small-12.column
				.section__multi-step--image.maiolica